.block-glasses-title {
    padding: 80px 0px 280px 0px;
    background: #FF8A26 url('../img/bg-block-our-shops.png') top left / cover no-repeat;

    // Breakpoints
    @include respond-to($phone) {
        padding: 60px 0px 280px 0px;
    }

    @include respond-to($phone-tablet) {
        padding: 60px 0px 280px 0px;
    }

    @include respond-to($tablet-medium) {
        padding: 60px 0px 280px 0px;
    }

    @include respond-to($medium-large) {
        padding: 60px 0px 280px 0px;
    }

    h2 {
        margin: 0px;
        text-align: center;
        letter-spacing: 35px;
        font-weight: 700;
        font-size: 30px;
        color: #020a56;
    }

    .img-fluid {
        margin-top: 15px;
    }
}