.block-glasses-list {
    padding: 80px 0px 70px 0px;
    background: #FF8A26 url('../img/bg-block-our-shops.png') top left / 100% auto no-repeat;

    // Breakpoints
    @include respond-to($phone) {
        padding: 60px 0px 30px 0px;
    }

    @include respond-to($phone-tablet) {
        padding: 60px 0px 30px 0px;
    }

    @include respond-to($tablet-medium) {
        padding: 60px 0px 30px 0px;
    }

    @include respond-to($medium-large) {
        padding: 60px 0px 30px 0px;
    }

    h2 {
        margin: 0px;
        text-align: center;
        letter-spacing: 35px;
        font-weight: 700;
        font-size: 30px;
        color: #020a56;
    }

    p {
        margin: 70px 0px 0px 0px;
        text-align: center;
        font-size: 30px;
        color: #000;

        // Breakpoints
        @include respond-to($phone) {
            margin-top: 30px;
        }

        @include respond-to($phone-tablet) {
            margin-top: 30px;
        }

        @include respond-to($tablet-medium) {
            margin-top: 30px;
        }

        @include respond-to($medium-large) {
            margin-top: 30px;
        }
    }

    .container-brands {
        height: 100%;
        padding-right: 30px;

        // Breakpoints
        @include respond-to($phone) {
            padding-right: 0px;
        }

        @include respond-to($phone-tablet) {
            padding-right: 0px;
        }

        @include respond-to($tablet-medium) {
            padding-right: 0px;
        }

        @include respond-to($medium-large) {
            padding-right: 0px;
        }

        .img-fluid {
            width: 80px;
        }
    }

    .container-border {
        padding: 20px 0px 20px 60px;
        border-left: 2px solid #00379E;
        text-align: center;

        // Breakpoints
        @include respond-to($phone) {
            margin-top: 15px;
            padding: 0px;
            border-left: none;
        }

        @include respond-to($phone-tablet) {
            margin-top: 15px;
            padding: 0px;
            border-left: none;
        }

        @include respond-to($tablet-medium) {
            margin-top: 15px;
            padding: 0px;
            border-left: none;
        }

        @include respond-to($medium-large) {
            margin-top: 15px;
            padding: 0px;
            border-left: none;
        }

        .img-fluid {
            width: 193px;
        }
    }

    .card {
        width: 100%;
        margin-bottom: 30px;
        background-color: #FFF;
        border: 2px solid #003da6;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;

        label {
            width: 100%;
            margin: 0px;
            text-align: center;
            font-size: 13px;
            color: #003da6;
        }

        .container-slider {
            width: 100%;
            padding: 15px 15px 0px 15px;

            .swiper-container {

                .swiper-wrapper {

                    .swiper-slide {
                        width: 100%;
                        height: 150px;

                        div {
                            width: 100%;
                            height: 150px;
                            background-color: #FFF;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                        }
                    }
                }
            }

            .btn-swiper-main {
                height: 35px;
                top: calc(50% - 25px);
                left: 30px;
                position: absolute;
                background-color: #FFF;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 1;
                cursor: pointer;
                opacity: 0.5;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;

                &.btn-next {
                    left: auto;
                    right: 30px;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        .card-body {
            height: 100%;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;

            .card-text {
                margin: 0px;
                text-align: center;
                font-size: 23px;
                color: #003da6;
            }
        }
    }
}