.block-banner-main {
    height: 380px;
    margin-top: 46px;
    background-color: #FFF;
    background-size: auto auto, auto 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center center, top left;
    background-image: url('../img/logo.png'), url('../img/img-banner.png');

    // Breakpoints
    @include respond-to($phone) {
        height: 200px;
        margin-top: 69px;
        background: #FFF url('../img/logo.png') center center / auto auto no-repeat;
    }

    @include respond-to($phone-tablet) {
        height: 200px;
        margin-top: 69px;
        background: #FFF url('../img/logo.png') center center / auto auto no-repeat;
    }

    @include respond-to($tablet-medium) {
        height: 200px;
        margin-top: 69px;
    }

    @include respond-to($medium-large) {
        height: 200px;
        margin-top: 69px;
    }
}