footer {
    margin-top: -150px;
    padding: 80px 0px 70px 0px;
    background: transparent url('../img/bg-footer.png') top center / 100% 100% no-repeat;
    z-index: 9;

    // Breakpoints
    @include respond-to($phone) {
        margin-top: 30px;
        padding: 60px 0px;
        border-top: 8px solid #FF8A26;
        background: #020A56;
    }

    @include respond-to($phone-tablet) {
        margin-top: 30px;
        padding: 60px 0px;
        border-top: 8px solid #FF8A26;
        background: #020A56;
    }

    @include respond-to($tablet-medium) {
        margin-top: 30px;
        padding: 60px 0px;
        border-top: 8px solid #FF8A26;
        background: #020A56;
    }

    @include respond-to($medium-large) {
        margin-top: 30px;
        padding: 60px 0px;
        border-top: 8px solid #FF8A26;
        background: #020A56;
    }

    .alert {
        display: none;
    }

    h3 {
        margin-bottom: 25px;
        font-size: 22px;
        color: #FFF;
    }

    p {
        width: 100%;
        font-size: 16px;
        color: #FFF;

        &.line-height-20 {
            padding: 10px 0px 10px 40px;
            border-left: 1px solid #FFF;
            line-height: 30px;
            font-size: 18px;

            // Breakpoints
            @include respond-to($phone) {
                padding: 0px;
                border-left: none;
            }

            @include respond-to($phone-tablet) {
                padding: 0px;
                border-left: none;
            }

            @include respond-to($tablet-medium) {
                padding: 0px;
                border-left: none;
            }

            @include respond-to($medium-large) {
                padding: 0px;
                border-left: none;
            }
        }

        span {
            font-size: 18px;
        }
    }

    ul {
        list-style: none;
        padding-left: 0px;

        li {
            font-size: 16px;
            color: #FFF;

            .lni {
                float: left;
                position: relative;
                margin: 3px 10px 0px -30px;
                font-size: 20px;

                // Breakpoints
                @include respond-to($phone) {
                    margin-left: 0px;
                }

                @include respond-to($phone-tablet) {
                    margin-left: 0px;
                }

                @include respond-to($tablet-medium) {
                    margin-left: 0px;
                }

                @include respond-to($medium-large) {
                    margin-left: 0px;
                }
            }

            a {
                font-size: 16px;
                color: #FFF;

                &:hover {
                    color: #FF8A26;
                }
            }
        }
    }

    .form-group {
        margin-bottom: 25px;

        .form-control {
            height: auto;
            padding: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }
    }

    .btn-primary {
        padding: 12px 30px;
        font-size: 16px;
        color: #FFF;
        border: none;
        background-color: #FF8A26;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;

        &:hover {
            background-color: #FFF;
            color: #020A56;
        }
    }

    .img-fluid {

        // Breakpoints
        @include respond-to($phone) {
            width: 100%;
            max-width: 350px;
        }

        @include respond-to($phone-tablet) {
            width: 100%;
            max-width: 350px;
        }

        @include respond-to($tablet-medium) {
            width: 100%;
            max-width: 350px;
        }

        @include respond-to($medium-large) {
            width: 100%;
            max-width: 350px;
        }
    }
}