@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    box-shadow: none !important;
    outline: none !important;
}

a {
    text-decoration: none !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    outline: 0px;
}

html {
    position: relative;
    overflow-x: hidden;
}

body {
    position: relative;
    overflow-x: hidden;
    background: #FFF;
}

header,
footer,
section {
    width: 100%;
    float: left;
    position: relative;
}

/*Titulos*/

/*Parrafos*/

/*Botones*/